{% extends 'Base/main.html' %}
{% load static %}
{% block content %}
<!--    <ul>-->
<!--        {% for recipe in recipes %}-->
<!--        <li>-->
<!--            {{recipe}} <a href="{% url 'recipe_edit' recipe.pk %}">Edit</a>-->
<!--             <a href="{% url 'recipe_delete' recipe.pk %}">Delete</a>-->
<!--        </li>-->
<!--      {% endfor %}-->
<!--    </ul>-->
  <div class="container">
    {% if message %}
          <h1 style="text-align:center;">{{request.user }} {{ message }}.</h1>
    {% else %}
    <h1 style="text-align:center;">Hello, {{request.user }}. Here are the latest recipes on site.</h1>
    {% endif %}

    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for recipe in recipes %}
      <div class="col">
        <div class="card">
          <a href="{% url 'recipe_details' recipe.pk %}"><img src="{{ MEDIA_URL }}/{{recipe.image}}"  style="max-height: 450px; max-width: 750px;" class="card-img-top"
            alt=".." /> </a>
          <div class="card-body">
            <h5 class="card-title">{{ recipe.title }}</h5>
            <p class="card-text">
              {{ recipe.short_description }}
            </p>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
    </div>
{% endblock %}